In [135]:
import pandas as pd

In [136]:
df=pd.read_csv('/home/bibek/Desktop/Data_Engineering/Data/yellow_tripdata_2021-01.csv',
        nrows=100)

In [137]:
print(pd.io.sql.get_schema(df,'ny_taxi_data'))

CREATE TABLE "ny_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [138]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [139]:
print(pd.io.sql.get_schema(df,'ny_taxi_data'))

CREATE TABLE "ny_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [140]:
from sqlalchemy import create_engine

In [141]:
engine=create_engine('postgresql://postgres:password@localhost:5000/ny_taxi_db')

In [142]:
engine.connect()

In [143]:
df_iter=pd.read_csv('/home/bibek/Desktop/Data_Engineering/Data/yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [144]:
print(df_iter)

<pandas.io.parsers.readers.TextFileReader object at 0x7f021470ea60>

In [145]:
df=next(df_iter)

In [146]:
print(len(df))

100000

In [147]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [148]:
df.head(n=5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [149]:
df.head(n=0).to_sql(name='ny_taxi_data',con=engine,if_exists='replace')

0

In [150]:
%time df.to_sql(name='ny_taxi_data',con=engine,if_exists='append')

CPU times: user 2.68 s, sys: 28.1 ms, total: 2.71 s
Wall time: 5.22 s

1000

In [151]:
query="""
select count(*) from ny_taxi_data;
"""

In [152]:
pd.read_sql_query(query,con=engine)

    count
0  100000

In [153]:
from time import time

In [154]:
#Upload all data in SQL table
while True:
    try:
        t_start=time()

        df=next(df_iter)

        df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='ny_taxi_data',con=engine,if_exists='append')

        t_end=time()

        print("Inserted another Chunk,took%.3f second" %(t_start-t_end))
    except StopIteration:
        print("All data has been processed.")
        break

Inserted another Chunk,took-5.541 second
Inserted another Chunk,took-5.514 second
Inserted another Chunk,took-5.626 second
Inserted another Chunk,took-5.813 second
Inserted another Chunk,took-5.657 second
Inserted another Chunk,took-5.600 second
Inserted another Chunk,took-5.597 second
Inserted another Chunk,took-5.497 second
Inserted another Chunk,took-5.705 second
Inserted another Chunk,took-5.552 second
Inserted another Chunk,took-5.450 second

/tmp/ipykernel_11722/635263978.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

Inserted another Chunk,took-5.313 second
Inserted another Chunk,took-3.442 second
All data has been processed.

In [155]:
query="""
select count(*) from ny_taxi_data;
"""

In [157]:
pd.read_sql_query(query,con=engine)

     count
0  1369765

##### Python Iterator Examples

In [158]:
mytuple = ("apple", "banana", "cherry")
iter(mytuple)

In [159]:
print(iter(mytuple))

<tuple_iterator object at 0x7f021392d700>

In [160]:
df=iter(mytuple)
print(next(df))

apple

In [161]:
print(next(df))

banana

In [162]:
print(next(df))

cherry