In [19]:
import pandas as pd

In [20]:
df=pd.read_csv('/home/bibek/Desktop/Data_Engineering/Data/yellow_tripdata_2021-01.csv',
        nrows=100)

In [21]:
print(pd.io.sql.get_schema(df,'ny_taxi_data'))

CREATE TABLE "ny_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [22]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
print(pd.io.sql.get_schema(df,'ny_taxi_data'))

CREATE TABLE "ny_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [27]:
from sqlalchemy import create_engine

In [28]:
engine=create_engine('postgresql://postgres:password@localhost:5000/ny_taxi_db')

In [29]:
engine.connect()

In [30]:
df_iter=pd.read_csv('/home/bibek/Desktop/Data_Engineering/Data/yellow_tripdata_2021-01.csv',iterator=True,chunksize=20000)

In [31]:
next(df_iter)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2021-01-01 19:49:41,2021-01-01 19:54:33,1,0.92,1,N,230,164,1,5.5,0.0,0.5,1.76,0.00,0.3,10.56,2.5
19996,2,2021-01-01 19:58:24,2021-01-01 20:10:51,1,1.77,1,N,234,114,1,10.0,0.0,0.5,2.00,0.00,0.3,15.30,2.5
19997,2,2021-01-01 19:26:54,2021-01-01 19:55:54,1,20.30,1,N,132,254,1,54.0,0.0,0.5,0.06,6.12,0.3,60.98,0.0
19998,2,2021-01-01 19:47:41,2021-01-01 20:19:42,1,11.41,1,N,132,17,1,35.0,0.0,0.5,10.00,0.00,0.3,45.80,0.0
19999,2,2021-01-01 19:40:57,2021-01-01 19:49:24,3,1.46,1,N,186,233,1,7.5,0.0,0.5,1.94,0.00,0.3,12.74,2.5

In [32]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [33]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [34]:
df.head(n=0).to_sql(name='ny_taxi',con=engine,if_exists='replace')

0

In [35]:
%time df.to_sql(name='ny_taxi',con=engine,if_exists='append')

CPU times: user 32.9 s, sys: 1.01 s, total: 33.9 s
Wall time: 1min

644

In [47]:
query="""
select * from ny_taxi where id='id2875421';
"""

In [49]:
pd.read_sql_query(query,con=engine)

,index,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.96463,40.765602,N,455