In [7]:
import pandas as pd

In [8]:
df=pd.read_csv('/home/bibek/Downloads/train.csv')

In [9]:
print(pd.io.sql.get_schema(df,'ny_taxi'))

CREATE TABLE "ny_taxi" (
"id" TEXT,
  "vendor_id" INTEGER,
  "pickup_datetime" TEXT,
  "dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "pickup_longitude" REAL,
  "pickup_latitude" REAL,
  "dropoff_longitude" REAL,
  "dropoff_latitude" REAL,
  "store_and_fwd_flag" TEXT,
  "trip_duration" INTEGER
)

In [12]:
df.pickup_datetime=pd.to_datetime(df.pickup_datetime)
df.dropoff_datetime=pd.to_datetime(df.dropoff_datetime)

In [14]:
print(pd.io.sql.get_schema(df,'ny_taxi'))

CREATE TABLE "ny_taxi" (
"id" TEXT,
  "vendor_id" INTEGER,
  "pickup_datetime" TIMESTAMP,
  "dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "pickup_longitude" REAL,
  "pickup_latitude" REAL,
  "dropoff_longitude" REAL,
  "dropoff_latitude" REAL,
  "store_and_fwd_flag" TEXT,
  "trip_duration" INTEGER
)

In [17]:
from sqlalchemy import create_engine

In [24]:
engine=create_engine('postgresql://postgres:password@localhost:5000/ny_taxi_db')

In [25]:
engine.connect()

In [26]:
df_iter=pd.read_csv('/home/bibek/Downloads/train.csv',iterator=True,chunksize=20000)

In [30]:
next(df_iter)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
20000,id2002463,2,2016-01-14 12:28:56,2016-01-14 12:37:17,1,-73.965652,40.768398,-73.960068,40.779308,N,501
20001,id1447608,2,2016-04-02 19:30:34,2016-04-02 19:47:11,1,-74.009377,40.724770,-73.990669,40.718391,N,997
20002,id1551255,2,2016-03-06 11:37:16,2016-03-06 11:57:31,1,-73.982018,40.783100,-73.938408,40.805500,N,1215
20003,id1606076,1,2016-06-15 11:03:19,2016-06-15 11:24:43,1,-73.980148,40.770809,-73.962891,40.810932,N,1284
20004,id3953543,1,2016-04-16 19:29:43,2016-04-16 19:34:55,2,-73.955727,40.782436,-73.951828,40.774651,N,312
...,...,...,...,...,...,...,...,...,...,...,...
39995,id3560546,2,2016-02-11 21:34:27,2016-02-11 22:11:18,1,-73.991463,40.744678,-73.950912,40.666389,N,2211
39996,id1484000,2,2016-04-02 18:58:36,2016-04-02 19:04:52,1,-73.966827,40.793892,-73.979340,40.787128,N,376
39997,id3096659,2,2016-03-25 19:43:08,2016-03-25 19:49:19,1,-73.975990,40.748730,-73.983910,40.754711,N,371
39998,id3666765,2,2016-03-17 08:49:38,2016-03-17 08:54:11,5,-73.945580,40.778164,-73.955482,40.782471,N,273
39999,id3004422,2,2016-05-19 13:17:34,2016-05-19 13:35:07,1,-73.982826,40.757011,-73.962349,40.778961,N,1053

In [31]:
df.pickup_datetime=pd.to_datetime(df.pickup_datetime)
df.dropoff_datetime=pd.to_datetime(df.dropoff_datetime)

In [32]:
df.head(n=0)

Empty DataFrame
Columns: [id, vendor_id, pickup_datetime, dropoff_datetime, passenger_count, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, store_and_fwd_flag, trip_duration]
Index: []

In [34]:
df.head(n=0).to_sql(name='ny_taxi',con=engine,if_exists='replace')

0

In [35]:
%time df.to_sql(name='ny_taxi',con=engine,if_exists='append')

CPU times: user 32.9 s, sys: 1.01 s, total: 33.9 s
Wall time: 1min

644

In [47]:
query="""
select * from ny_taxi where id='id2875421';
"""

In [49]:
pd.read_sql_query(query,con=engine)

,index,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.96463,40.765602,N,455