In [7]:
import pandas as pd

In [8]:
df=pd.read_csv('/home/bibek/Downloads/train.csv')

In [9]:
print(pd.io.sql.get_schema(df,'ny_taxi'))

CREATE TABLE "ny_taxi" (
"id" TEXT,
  "vendor_id" INTEGER,
  "pickup_datetime" TEXT,
  "dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "pickup_longitude" REAL,
  "pickup_latitude" REAL,
  "dropoff_longitude" REAL,
  "dropoff_latitude" REAL,
  "store_and_fwd_flag" TEXT,
  "trip_duration" INTEGER
)

In [12]:
df.pickup_datetime=pd.to_datetime(df.pickup_datetime)
df.dropoff_datetime=pd.to_datetime(df.dropoff_datetime)

In [14]:
print(pd.io.sql.get_schema(df,'ny_taxi'))

CREATE TABLE "ny_taxi" (
"id" TEXT,
  "vendor_id" INTEGER,
  "pickup_datetime" TIMESTAMP,
  "dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "pickup_longitude" REAL,
  "pickup_latitude" REAL,
  "dropoff_longitude" REAL,
  "dropoff_latitude" REAL,
  "store_and_fwd_flag" TEXT,
  "trip_duration" INTEGER
)

In [17]:
from sqlalchemy import create_engine

In [24]:
engine=create_engine('postgresql://postgres:password@localhost:5000/ny_taxi_db')

In [25]:
engine.connect()