In [9]:
url = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [10]:
print(url)

https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [13]:
import os
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

In [12]:
os.system(f"wget {url} -O taxi_zone_lookup.csv ")

--2023-04-10 12:09:55--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.50.6, 52.217.224.56, 52.217.225.48, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.50.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

     0K .......... ..                                         100% 9.99M=0.001s

2023-04-10 12:09:57 (9.99 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

0

In [15]:
df=pd.read_csv('taxi_zone_lookup.csv')

In [18]:
from sqlalchemy import create_engine

In [19]:
engine=create_engine('postgresql://postgres:password@localhost:5000/ny_taxi_db')

In [20]:
engine.connect()

In [21]:
df.to_sql(name='zones', con=engine, if_exists='replace')

265

In [22]:
print(df)

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [28]:
def test(id: int,name: str):
    print(f"{name} is {id+1}")

In [30]:
test(3,"Bibek")

Bibek is 4